@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme{
  --font-jost-sans: "Jost", sans-serif;

  --color-dark: #121212;
  --color-light: #f8f9fa;

  --color-background: #0f1113;
  --color-card: #1a1a1a;
  --color-border: #2c2c2c;
  --color-navbar: #1e1e1e;
  --color-foreground: #f8f9fa;
  --color-primary: #9a9a99;
  --color-secondary: #495057;
  --color-accent: #1e1e2e;
  /* --color-muted: #868e96; */
  /* --bg-card-hover: #f1f3f5;
  --bg-card-active: #e9ecef;
  --bg-card-shadow: rgba(0, 0, 0, 0.1);
  --bg-card-shadow-hover: rgba(0, 0, 0, 0.15);
  --bg-card-shadow-active: rgba(0, 0, 0, 0.2);
  --bg-card-border: #dee2e6; */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #343434;
  --primary-foreground: #fafafa;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #b3423d;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b4b4b4;
  --chart-1: #d27c6d;
  --chart-2: #5ca1d6;
  --chart-3: #5d6fd1;
  --chart-4: #d4a65a;
  --chart-5: #d19d56;
  --sidebar: #fafafa;
  --sidebar-foreground: #252525;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;
  --background: #ffffff;
  --foreground: #252525;
}


.dark {
  --background: #121212;
  --foreground: #fafafa;
  --card: #1b1b1b;
  --card-foreground: #fafafa;
  --popover: #343434;
  --popover-foreground: #fafafa;
  --primary: #ebebeb;
  --primary-foreground: #343434;
  --secondary: #444444;
  --secondary-foreground: #fafafa;
  --muted: #444444;
  --muted-foreground: #b4b4b4;
  --accent: #444444;
  --accent-foreground: #fafafa;
  --destructive: #b3423d;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #8e8e8e;
  --chart-1: #6d7cd2;
  --chart-2: #5dbb9f;
  --chart-3: #d19d56;
  --chart-4: #9f6fd4;
  --chart-5: #c47d52;
  --sidebar: #343434;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #6d7cd2;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8e8e8e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
